# Домашнее задание №2

Тема "Доверительные интервалы"

Общие положения:
- Макс кол-во баллов за ДЗ - 25 баллов
- Качество оформления и кода играет роль

In [1]:
import pandas as pd
import numpy as np

from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')
%matplotlib inline

In [2]:
# задаём стандартное нормальное распределение
norm_distr = stats.norm(loc=0, scale=1)

# рассчитываем квантиль по заданному уровню значимости
alpha = 0.05
z = norm_distr.ppf(alpha/2)
print(z)

-1.9599639845400545

## Задание 1. Партия обуви
Компания утверждает, что длина шнурков в партии обуви имеет среднее значение 120 см, и стандартное отклонение в партии точно известно и составляет 5 см. Из выборки 25 шнурков было получено среднее значение длины 122 см. Найдите 99%-ый доверительный интервал для среднего значения длины шнурков, границы округлите до целых с помощью функции int

(1 балл)

In [16]:
norm_rv = stats.norm(loc=0, scale=1)
norm_rv

In [42]:
z_alpha = norm_rv.ppf((1 - 0.99)/2)
z_alpha

np.float64(-2.5758293035489004)

In [43]:
right = 122 - z_alpha
int(right)

124

In [44]:
left = 122 + z_alpha
int(left)

119

##Задание 2. Среднее время заказа
Компания исследует среднее время выполнения заказа курьерской службой. Было случайным образом выбрано 10 заказов, для которых среднее время доставки составило 45 минут, а выборочная дисперсия — 9 минут. Постройте 95%-ый доверительный интервал для среднего времени доставки заказа
(1 балл)

In [45]:
t_rv = stats.t(9).ppf(1 - 0.05 / 2)
t_rv

np.float64(2.2621571628540993)

In [46]:
sigma = 3 / np.sqrt(10)
sigma

np.float64(0.9486832980505138)

In [49]:
left, right = 45 - t_rv * sigma, 45 + t_rv * sigma

left, right

(np.float64(42.85392928203498), np.float64(47.14607071796502))

## Задание 3. Повторные покупки
Интернет-магазин хочет определить долю пользователей, которые возвращаются для повторной покупки в течение месяца после первой покупки. Для этого он проанализировал выборку из 800 клиентов, и оказалось, что 240 из них сделали повторную покупку в течение месяца. Необходимо определить 95% доверительный интервал для истинной доли клиентов, которые возвращаются для повторной покупки в течение этого времени

(1 балл)

In [50]:
sample_ratio = 240 / 800
sample_ratio

0.3

In [52]:
z_alpha_2 = norm_rv.ppf((1 - 0.95)/2)
z_alpha_2

np.float64(-1.959963984540054)

In [53]:
repeated_diff = z_alpha_2 * np.sqrt(sample_ratio * (1 - sample_ratio) / 800)
repeated_diff

np.float64(-0.0317550459050559)

In [56]:
right, left = sample_ratio - repeated_diff, sample_ratio + repeated_diff
left, right

(np.float64(0.2682449540949441), np.float64(0.3317550459050559))

## Задания 4-10. Аниме

(7 баллов всего)

In [57]:
!curl -O https://raw.githubusercontent.com/practical-jupyter/sample-data/refs/heads/master/anime/anime.csv >> anime.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  778k  100  778k    0     0  4136k      0 --:--:-- --:--:-- --:--:-- 4120k

Описание датафрейма:
- `anime_id` - ID
- `name` - название
- `genre` - жанр (строка с пречисление через запятую)
- `type` - формат
- `episodes` - кол-во эпизодов
- `rating` - средний рейтинг
- `members` - кол-во смотрящих

In [58]:
df_anime = pd.read_csv('anime.csv')
df_anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10486 entries, 0 to 10485
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  10486 non-null  int64
 1   name      10486 non-null  object
 2   genre     10424 non-null  object
 3   type      10463 non-null  object
 4   episodes  10486 non-null  object
 5   rating    10275 non-null  float64
 6   members   10486 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 573.6+ KB

## Задание 4. Аниме, средний рейтинг

Постройте 95% доверительный интервал для среднего рейтинга по всем аниме

(1 балл)

In [61]:
rating = df_anime['rating'].dropna()
rating

0        9.37
1        9.26
2        9.25
3        9.17
4        9.16
         ...
10272    6.06
10273    6.47
10274    5.83
10275    6.13
10276    7.00
Name: rating, Length: 10275, dtype: float64

In [62]:
stats.t.interval(0.95, df=(len(rating) -1), loc=rating.mean(), scale=stats.sem(rating))

(np.float64(6.473273976757219), np.float64(6.5145235901527565))

## Задание 5. Аниме, средний рейтинг по жанрам
Постройте 95% доверительный интервал для среднего рейтинга по жанру комедия

(1 балл)

In [68]:
df_anime['genre'].unique()

array(['Drama, Romance, School, Supernatural',
       'Action, Adventure, Drama, Fantasy, Magic, Military, Shounen',
       'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
       ..., 'Drama, Fantasy, Romance, Sci-Fi',
       'Action, Fantasy, Magic, Sci-Fi, Shounen', 'Magic, Military'],
      dtype=object)

In [79]:
df_anime_not_na = df_anime.dropna()
df_anime_not_na

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
10272,11095,Zouressha ga Yatte Kita,Adventure,Movie,1,6.06,78
10273,7808,Zukkoke Knight: Don De La Mancha,"Adventure, Comedy, Historical, Romance",TV,23,6.47,172
10274,28543,Zukkoke Sannin-gumi no Hi Asobi Boushi Daisakusen,"Drama, Kids",OVA,1,5.83,50
10275,18967,Zukkoke Sannin-gumi: Zukkoke Jikuu Bouken,"Comedy, Historical, Sci-Fi",OVA,1,6.13,76
10276,13455,Zumomo to Nupepe,Comedy,TV,32,7.00,120

In [80]:
comedy_rating = df_anime_not_na[df_anime_not_na['genre'].str.contains('Comedy')]['rating']
comedy_rating

2        9.25
4        9.16
5        9.15
8        9.10
9        9.11
         ...
10268    4.95
10269    3.54
10273    6.47
10275    6.13
10276    7.00
Name: rating, Length: 4050, dtype: float64

In [81]:
stats.t.interval(0.95, df=(len(comedy_rating) -1), loc=comedy_rating.mean(), scale=stats.sem(comedy_rating))

(np.float64(6.590879282444728), np.float64(6.653817013851569))

## Задание 6. Средние рейтинги по типам аниме

Постройте 95% доверительный интервал среднего рейтинга для типа "Movie"

(1 балл)

In [86]:
movie_rating = df_anime[df_anime['type'] == 'Movie']['rating'].dropna()
movie_rating

0        9.37
8        9.10
11       9.05
15       8.93
18       8.84
         ...
10249    4.27
10251    6.76
10262    6.45
10271    6.07
10272    6.06
Name: rating, Length: 2259, dtype: float64

In [87]:
stats.t.interval(0.95, df=(len(movie_rating) -1), loc=movie_rating.mean(), scale=stats.sem(movie_rating))

(np.float64(6.261929405309271), np.float64(6.362063511910737))

## Задание 7. Самый широкий доверительный интервал по типаам

Определите, для какого типа аниме, исключая nan (none), 95% доверительный интервал по среднему рейтингу самый широкий

(1 балл)

In [94]:
types = df_anime['type'].unique()
types

array(['Movie', 'TV', 'OVA', 'Special', 'Music', 'ONA', nan], dtype=object)

In [96]:
for t in types:
  current_rating = df_anime[df_anime['type'] == t]['rating'].dropna()
  left, right = stats.t.interval(0.95, df=(len(current_rating) -1), loc=current_rating.mean(), scale=stats.sem(current_rating))
  print(f"Type {t}, Res: {right - left}")

Type Movie, Res: 0.10013410660146604
Type TV, Res: 0.05887293518015646
Type OVA, Res: 0.08250009755778187
Type Special, Res: 0.09186260780009547
Type Music, Res: 0.17059026481829953
Type ONA, Res: 0.17612782305210217
Type nan, Res: nan

/tmp/ipython-input-3248975800.py:3: SmallSampleWarning: One or more sample arguments is too small; all returned values will be NaN. See documentation for sample size requirements.
  left, right = stats.t.interval(0.95, df=(len(current_rating) -1), loc=current_rating.mean(), scale=stats.sem(current_rating))

Answer: **ONA**

## Задание 8. Самый широкий доверительный интервал по жанрам

Определите для какого жанра аниме 95% доверительный интервал по среднему рейтингу самый широкий

(1 балл)

In [97]:
genres_df = df_anime['genre'].str.split(', ')
genres = genres_df.dropna().explode().unique()
genres

array(['Drama', 'Romance', 'School', 'Supernatural', 'Action',
       'Adventure', 'Fantasy', 'Magic', 'Military', 'Shounen', 'Comedy',
       'Historical', 'Parody', 'Samurai', 'Sci-Fi', 'Thriller', 'Sports',
       'Super Power', 'Space', 'Slice of Life', 'Mecha', 'Music',
       'Mystery', 'Seinen', 'Martial Arts', 'Vampire', 'Shoujo', 'Horror',
       'Police', 'Psychological', 'Demons', 'Josei', 'Shounen Ai', 'Game',
       'Dementia', 'Harem', 'Cars', 'Kids', 'Shoujo Ai'], dtype=object)

In [105]:
top = 0
top_name = None

for genre in genres:

  current_rating = df_anime_not_na[df_anime_not_na['genre'].str.contains(genre)]['rating'].dropna()
  left, right = stats.t.interval(0.95, df=(len(current_rating) -1), loc=current_rating.mean(), scale=stats.sem(current_rating))
  print(f"Type {genre}, Res: {right - left}")

  if top < right - left:
    top = right - left
    top_name = genre

top_name

Type Drama, Res: 0.08022576007082804
Type Romance, Res: 0.09159151002548782
Type School, Res: 0.1048245258050482
Type Supernatural, Res: 0.12712864140107882
Type Action, Res: 0.07365260932510687
Type Adventure, Res: 0.07290437196148503
Type Fantasy, Res: 0.07917003370857145
Type Magic, Res: 0.12659719085393029
Type Military, Res: 0.1756278679083909
Type Shounen, Res: 0.08159457673577108
Type Comedy, Res: 0.06293773140684067
Type Historical, Res: 0.1426794171007817
Type Parody, Res: 0.2257987523642342
Type Samurai, Res: 0.37207945860522607
Type Sci-Fi, Res: 0.08081850613992714
Type Thriller, Res: 0.466332915313199
Type Sports, Res: 0.17166001362174654
Type Super Power, Res: 0.18210945563499337
Type Space, Res: 0.23417808828796716
Type Slice of Life, Res: 0.11904886049612706
Type Mecha, Res: 0.12029311432015355
Type Music, Res: 0.15277288316953097
Type Mystery, Res: 0.1502170045522444
Type Seinen, Res: 0.16830841863241908
Type Martial Arts, Res: 0.22413818436594468
Type Vampire, Res: 0.43147873190638286
Type Shoujo, Res: 0.12167256253617609
Type Horror, Res: 0.24943733763045017
Type Police, Res: 0.23583434343740706
Type Psychological, Res: 0.3021730123122346
Type Demons, Res: 0.2852242866161365
Type Josei, Res: 0.43138068002468977
Type Shounen Ai, Res: 0.43055258357144766
Type Game, Res: 0.2508707031579789
Type Dementia, Res: 0.2982050250667143
Type Harem, Res: 0.19508975801514694
Type Cars, Res: 0.554209358118408
Type Kids, Res: 0.10129349577653457
Type Shoujo Ai, Res: 0.32621325279426117

'Cars'

Answer: **Cars**

## Задание 9. Самая длинная медианная сезонность

Найдите жанр, у которого максимальная медиана по кол-ву эпизодов

(1 балл)

In [121]:
df_anime_not_na['episodes'] = df_anime_not_na['episodes'].replace("Unknown", np.nan).dropna().apply(lambda x: int(x))
df_anime_not_na['episodes']

/tmp/ipython-input-410582746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anime_not_na['episodes'] = df_anime_not_na['episodes'].replace("Unknown", np.nan).dropna().apply(lambda x: int(x))

0         1.0
1        64.0
2        51.0
3        24.0
4        51.0
         ...
10272     1.0
10273    23.0
10274     1.0
10275     1.0
10276    32.0
Name: episodes, Length: 10228, dtype: float64

In [122]:
top = 0
top_name = None

for genre in genres:

  current_rating = df_anime_not_na[df_anime_not_na['genre'].str.contains(genre)]['episodes'].dropna()

  if top < current_rating.median():
    top = current_rating.median()
    top_name = genre

top_name

'Game'

Answer: **Game**

## Задание 10. Самый узкий ДИ

Найдите жанр, у которого самый узкий 95% доверительный интервал по подписчикам

(1 балл)

In [124]:
top = np.inf
top_name = None

for genre in genres:

  current_rating = df_anime_not_na[df_anime_not_na['genre'].str.contains(genre)]['members'].dropna()
  left, right = stats.t.interval(0.95, df=(len(current_rating) -1), loc=current_rating.mean(), scale=stats.sem(current_rating))

  if top > right - left:
    top = right - left
    top_name = genre

top_name

'Kids'

Answer: **Kids**

## Задания 11-20. Продуктовые метрики

(16 баллов всего)

In [126]:
!curl -O https://raw.githubusercontent.com/alina-zhu/datasets/refs/heads/master/customer_shopping_data.csv >> customer_shopping_data.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 6410k  100 6410k    0     0  21.2M      0 --:--:-- --:--:-- --:--:-- 21.2M

Описание датафрейма:
- `invoice_no` - номер чека
- `customer_id` - id клиента
- `gender` - пол клиента
- `age` - возраст клиента
- `category` - категория товара
- `quantity` - количество единиц товаров в чеке
- `price` - цена товара
- `payment_method` - метод оплаты
- `invoice_date` - дата покупки

In [127]:
df = pd.read_csv('customer_shopping_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 6.8+ MB

In [128]:
df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date
0,I138884,upeszhn26j,Female,28,Clothing,5,1500.40,Credit Card,2022-08-05
1,I317333,nyyoavbmge,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12
2,I127801,iksbmqrtj0,Male,20,Clothing,1,300.08,Cash,2021-11-09
3,I173702,zfhc107gzu,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16
4,I337046,diwrquryyt,Female,53,Books,4,60.60,Cash,2021-10-24

In [132]:
df['invoice_date'] = pd.to_datetime(df['invoice_date'])
df.dtypes

invoice_no                object
customer_id               object
gender                    object
age                        int64
category                  object
quantity                   int64
price                    float64
payment_method            object
invoice_date      datetime64[ns]
dtype: object

In [133]:
df.isna().sum()

invoice_no        0
customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
dtype: int64

## Задание  11. Средний возраст покупателей

Постройте 95% доверительный интервал для среднего возраста клиентов, результат округлите до двух знаков после запятой

(1 балл)

In [134]:
age = df['age']
age

0        28
1        21
2        20
3        66
4        53
         ..
99452    45
99453    27
99454    63
99455    56
99456    36
Name: age, Length: 99457, dtype: int64

In [135]:
stats.t.interval(0.95, df=(len(age) -1), loc=age.mean(), scale=stats.sem(age))

(np.float64(43.33392707517726), np.float64(43.52025111238119))

## Задание 12. Средний чек

Постройте 95% доверительный интервал для среднего чека (quantity * price), результат округлите до двух знаков после запятой

(1 балл)

In [136]:
checks = df['quantity'] * df['price']
checks

0         7502.00
1         5401.53
2          300.08
3        15004.25
4          242.40
           ...
99452      293.25
99453       20.92
99454       20.92
99455    16800.00
99456      105.57
Length: 99457, dtype: float64

In [137]:
stats.t.interval(0.95, df=(len(checks) -1), loc=checks.mean(), scale=stats.sem(checks))

(np.float64(2502.546909611726), np.float64(2555.0316268412143))

## Задание 13. Средний чек по категориям

Найдите категорию с самым широким 95% доверительным интервалом по среднему чеку (quantity * price)

(1 балл)

In [144]:
top = 0
top_cat = None

for cat in df['category'].unique():
   current_df = df[df['category'] == cat]
   current_checks = current_df['quantity'] * current_df['price']
   left, right = stats.t.interval(0.95, df=(len(current_checks) -1), loc=current_checks.mean(), scale=stats.sem(current_checks))

   if right - left > top:
      top = right - left
      top_cat = cat

top_cat

'Technology'

Answer: **Technology**

## Задание 14. Cредний чек по оплатам картой

Постройте 95% доверительный интервал для среднего чека (quantity * price) при оплате наличкой (Cash), результат округлите до двух знаков после запятой

(1 балл)

In [145]:
cash_df = df[df['payment_method'] == "Cash"]
cash_checks = cash_df['quantity'] * cash_df['price']
cash_checks

2          300.08
4          242.40
6           40.66
10          20.92
13        1200.32
           ...
99449      300.08
99450       15.15
99451      896.00
99453       20.92
99455    16800.00
Length: 44447, dtype: float64

In [146]:
stats.t.interval(0.95, df=(len(cash_checks) -1), loc=cash_checks.mean(), scale=stats.sem(cash_checks))

(np.float64(2499.206685068546), np.float64(2577.9523141889968))

## Задание 15. Среднеее количества позиций в чеке

Постройте 95% доверительный интервал для среднего количества позиций в чеке, результат округлите до двух знаков после запятой

(1 балл)

In [147]:
stats.t.interval(0.95, df=(len(df['quantity']) -1), loc=df['quantity'].mean(), scale=stats.sem(df['quantity']))

(np.float64(2.994646776067845), np.float64(3.0122104587170373))

## Задание 16. Среднее количество покупателей в день

Постройте 95% доверительный интервал для среднего количества покупателей в день, результат округлите до двух знаков после запятой
(1 балл)

## Задание 17. Разница в средних чеках

Постройте 95% доверительный интервал для разницы по среднему чеку (quantity * price) для мужчин и женщин, результат округлите до двух знаков после запятой

(1 балл)

## Задание 18. Средний чек по месяцам

Определите месяц с наименьшей шириной 95% доверительного интервала среднего чека

(1 балл)

## Задание 19. Возрастная группа с максимальными тратами

Разбейте пользователей по возрасту на группы: <20, 20–40, 40-60, >60
Определите, у какой группы наибольшая верхняя граница 95% доверительного интервала по среднему чеку

(1 балл)

## Задание 20. Средний возраст покупателей по категориям товаров

Найдите категорию с максимальной верхней границей 95% доверительного интервала по среднему возрасту

(1 балл)